
body {
    transition: background-color 1s ease-in-out; /* backgroundcolor changes smoothly over 1 second*/
    display: flex;
    justify-content: center;/* center horizontally */
    align-items: center;    /* center vertically */
    height: 100vh;          /* make body take full viewport height */
    margin: 0;              /* remove default body margin */
}
       
