/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #2c52ed;
}

/* ::selection {
  color: #fff;
  background: #5372f0;
} */

.wrapper {
  width: 496px;
  /* background: #82B1FF; */
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.wrapper :where(.wrapper__title, li, li i, .wrapper__footer) {
  display: flex;
  align-items: center;
}

.wrapper__title img {
  max-width: 21px;
}

.wrapper__title h2 {
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}

.wrapper__content {
  margin: 10px 0;
}

.wrapper__content p {
  font-size: 15px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  background:#fff;
  border: 1px solid #a6a6a6;
}

.tags-list li {
  color: #333;
  margin: 4px 3px;
  list-style: none;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}

.wrapper__content ul li i {
  height: 20px;
  width: 20px;
  color: #808080;
  margin-left: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  background: #dbe1e3;
  justify-content: center;
}

.tags-list__input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.wrapper__footer {
  justify-content: space-between;
}

.remove-btn {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #EF5350;
  transition: 0.3s ease;
}
.copy-btn {
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372f0;
  transition: 0.3s ease;
}

.copy-btn:hover {
  background: #2c52ed;
}

.remove-btn:hover {
  background: #D32F2F; 
}

.message {
  color:#C62828 ;
}