
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background:linear-gradient(to bottom right,#acb6e5,#96e4d6 );
    /*background: conic-gradient(from -90deg at top left,#000,#adadad);*/
    /*background:conic-gradient(from 50deg at top left, #425F57,#749F82, #A8E890 ,#E0D98C,#9e1d1d );*/
}

.container {
    width: 32em;
    padding: 5em;
    border-radius: 0.5em;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0em 1em 2em  rgba(252, 241, 241, 0.4);
    background-color: transparent;
    
}

.captcha-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 1em 0;
}

canvas { 
    background-image: url(curved-lines.png);  
    background-size: cover; 
    background-origin:border-box;
    text-align: center;
    border-radius: 0.5em;
   
}

button#refresh{
    font-size: 35px;
    width: 2em;
    background-color:transparent;
    border: 1px solid  rgba(252, 241, 241, 0.5);
    border-radius: 20em;
    color:white;
    cursor: pointer;
}

input[type ="text"]{
    font-family: "Roboto Mono", monospace;
    background-color:transparent;
    font-size: 1em;
    width: 100%;
    padding: 1em 0.7em;
    border: 1px solid  rgba(252, 241, 241, 0.5);
    border-radius: 0.5em;  
    outline-color: white;
}

#captchaInput::placeholder {
    color:#e5e5e5d4;
}

button#submit {
    width: 5em;
    background-color:transparent;
    color: white;
    font-size: 1.2em;
    border: 1px solid  rgba(252, 241, 241, 0.5);
    padding: 0.8em 0;
    border-radius: 0.5em;
    font-family: "Roboto Mono", monospace;
    margin-top: 1em;
    margin-left: 35%;
    cursor: pointer;
}

button#submit:hover {
    background-color:#28A745;  
}

button#refresh:hover{
    color:#007BFF;    
}

#resultMessage{
    font-family: "Roboto Mono";
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 2em;
    text-align: center;
    white-space: nowrap;
}